.env
node_modules
coverage
.initialized
.credentials
.nyc_output
.vscode

logs

#auth
.keys

# Mongo
services/mongo-service/db

# Storage
services/storage-service/bucket/*
!services/storage-service/bucket/.gitkeep

# Transcoder
services/transcoder-service/cache/*
!services/transcoder-service/cache/.gitkeep
services/transcoder-service/tmp/*
!services/transcoder-service/tmp/.gitkeep

# Pool
services/pool-service/.job-save.json

# Front & Back Office
services/back-office-service/dist
services/front-service/dist
