/**
 * Colors
 */

 $light-gray: #ebf1f5;
 $medium-gray: #e9f1f7;
 $gray: #97bad3;
 $dark-gray: #6691ae;
 $black: black;
 $white: #fff;

 $yellow: #f8be58;
 $orange: #fb6e49;
 $red: #f2466f;
 $darkRed: #972943;
 $green: #48e6ac;
 $turquoise: #48e6e0;
 $blue: #1cb1ff;


 /**
  * Fonts
  */
$system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
