/**
 * Colors
 */
 $white: #fff;
 $light-gray: #E3E3E3;
 $medium-light-gray: #AEAEB5;
 $gray: #595960;
 $medium-dark-grey: #35363B;
 $dark-gray: #1B1C1F;
 $black: #151518;

 $primary: (
   vivid: #F9213B,
   pale: #C8354E,
   dark: #352026
 );
 $secondary: (
  vivid: #32B8F6,
  pale: #3365D6,
  dark: #1F2738
 );

 $red: map-get($primary, vivid);
 $blue: map-get($secondary, vivid);
 $yellow: #F3BE60;



 /**
  * Fonts
  */
$system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$muli-font: Muli, $system-font;
$icons-font: FeatherIcons;


/**
 * Icons
 */
$icons: (
  activity: "\e900",
  airplay: "\e901",
  alert-circle: "\e902",
  alert-octagon: "\e903",
  alert-triangle: "\e904",
  align-center: "\e905",
  align-justify: "\e906",
  align-left: "\e907",
  align-right: "\e908",
  anchor: "\e909",
  aperture: "\e90a",
  archive: "\e90b",
  arrow-down-circle: "\e90c",
  arrow-down-left: "\e90d",
  arrow-down-right: "\e90e",
  arrow-down: "\e90f",
  arrow-left-circle: "\e910",
  arrow-left: "\e911",
  arrow-right-circle: "\e912",
  arrow-right: "\e913",
  arrow-up-circle: "\e914",
  arrow-up-left: "\e915",
  arrow-up-right: "\e916",
  arrow-up: "\e917",
  at-sign: "\e918",
  award: "\e919",
  bar-chart-2: "\e91a",
  bar-chart: "\e91b",
  battery-charging: "\e91c",
  battery: "\e91d",
  bell-off: "\e91e",
  bell: "\e91f",
  bluetooth: "\e920",
  bold: "\e921",
  book-open: "\e922",
  book: "\e923",
  bookmark: "\e924",
  box: "\e925",
  briefcase: "\e926",
  calendar: "\e927",
  camera-off: "\e928",
  camera: "\e929",
  cast: "\e92a",
  check-circle: "\e92b",
  check-square: "\e92c",
  check: "\e92d",
  chevron-down: "\e92e",
  chevron-left: "\e92f",
  chevron-right: "\e930",
  chevron-up: "\e931",
  chevrons-down: "\e932",
  chevrons-left: "\e933",
  chevrons-right: "\e934",
  chevrons-up: "\e935",
  chrome: "\e936",
  circle: "\e937",
  clipboard: "\e938",
  clock: "\e939",
  cloud-drizzle: "\e93a",
  cloud-lightning: "\e93b",
  cloud-off: "\e93c",
  cloud-rain: "\e93d",
  cloud-snow: "\e93e",
  cloud: "\e93f",
  code: "\e940",
  codepen: "\e941",
  codesandbox: "\e942",
  coffee: "\e943",
  columns: "\e944",
  command: "\e945",
  compass: "\e946",
  copy: "\e947",
  corner-down-left: "\e948",
  corner-down-right: "\e949",
  corner-left-down: "\e94a",
  corner-left-up: "\e94b",
  corner-right-down: "\e94c",
  corner-right-up: "\e94d",
  corner-up-left: "\e94e",
  corner-up-right: "\e94f",
  cpu: "\e950",
  credit-card: "\e951",
  crop: "\e952",
  crosshair: "\e953",
  database: "\e954",
  delete: "\e955",
  disc: "\e956",
  divide-circle: "\e957",
  divide-square: "\e958",
  divide: "\e959",
  dollar-sign: "\e95a",
  download-cloud: "\e95b",
  download: "\e95c",
  dribbble: "\e95d",
  droplet: "\e95e",
  edit-2: "\e95f",
  edit-3: "\e960",
  edit: "\e961",
  external-link: "\e962",
  eye-off: "\e963",
  eye: "\e964",
  facebook: "\e965",
  fast-forward: "\e966",
  feather: "\e967",
  figma: "\e968",
  file-minus: "\e969",
  file-plus: "\e96a",
  file-text: "\e96b",
  file: "\e96c",
  film: "\e96d",
  filter: "\e96e",
  flag: "\e96f",
  folder-minus: "\e970",
  folder-plus: "\e971",
  folder: "\e972",
  framer: "\e973",
  frown: "\e974",
  gift: "\e975",
  git-branch: "\e976",
  git-commit: "\e977",
  git-merge: "\e978",
  git-pull-request: "\e979",
  github: "\e97a",
  gitlab: "\e97b",
  globe: "\e97c",
  grid: "\e97d",
  hard-drive: "\e97e",
  hash: "\e97f",
  headphones: "\e980",
  heart: "\e981",
  help-circle: "\e982",
  hexagon: "\e983",
  home: "\e984",
  image: "\e985",
  inbox: "\e986",
  info: "\e987",
  instagram: "\e988",
  italic: "\e989",
  key: "\e98a",
  layers: "\e98b",
  layout: "\e98c",
  life-buoy: "\e98d",
  link-2: "\e98e",
  link: "\e98f",
  linkedin: "\e990",
  list: "\e991",
  loader: "\e992",
  lock: "\e993",
  log-in: "\e994",
  log-out: "\e995",
  mail: "\e996",
  map-pin: "\e997",
  map: "\e998",
  maximize-2: "\e999",
  maximize: "\e99a",
  meh: "\e99b",
  menu: "\e99c",
  message-circle: "\e99d",
  message-square: "\e99e",
  mic-off: "\e99f",
  mic: "\e9a0",
  minimize-2: "\e9a1",
  minimize: "\e9a2",
  minus-circle: "\e9a3",
  minus-square: "\e9a4",
  minus: "\e9a5",
  monitor: "\e9a6",
  moon: "\e9a7",
  more-horizontal: "\e9a8",
  more-vertical: "\e9a9",
  mouse-pointer: "\e9aa",
  move: "\e9ab",
  music: "\e9ac",
  navigation-2: "\e9ad",
  navigation: "\e9ae",
  octagon: "\e9af",
  package: "\e9b0",
  paperclip: "\e9b1",
  pause-circle: "\e9b2",
  pause: "\e9b3",
  pen-tool: "\e9b4",
  percent: "\e9b5",
  phone-call: "\e9b6",
  phone-forwarded: "\e9b7",
  phone-incoming: "\e9b8",
  phone-missed: "\e9b9",
  phone-off: "\e9ba",
  phone-outgoing: "\e9bb",
  phone: "\e9bc",
  pie-chart: "\e9bd",
  play-circle: "\e9be",
  play: "\e9bf",
  plus-circle: "\e9c0",
  plus-square: "\e9c1",
  plus: "\e9c2",
  pocket: "\e9c3",
  power: "\e9c4",
  printer: "\e9c5",
  radio: "\e9c6",
  refresh-ccw: "\e9c7",
  refresh-cw: "\e9c8",
  repeat: "\e9c9",
  rewind: "\e9ca",
  rotate-ccw: "\e9cb",
  rotate-cw: "\e9cc",
  rss: "\e9cd",
  save: "\e9ce",
  scissors: "\e9cf",
  search: "\e9d0",
  send: "\e9d1",
  server: "\e9d2",
  settings: "\e9d3",
  share-2: "\e9d4",
  share: "\e9d5",
  shield-off: "\e9d6",
  shield: "\e9d7",
  shopping-bag: "\e9d8",
  shopping-cart: "\e9d9",
  shuffle: "\e9da",
  sidebar: "\e9db",
  skip-back: "\e9dc",
  skip-forward: "\e9dd",
  slack: "\e9de",
  slash: "\e9df",
  sliders: "\e9e0",
  smartphone: "\e9e1",
  smile: "\e9e2",
  speaker: "\e9e3",
  square: "\e9e4",
  star: "\e9e5",
  stop-circle: "\e9e6",
  sun: "\e9e7",
  sunrise: "\e9e8",
  sunset: "\e9e9",
  tablet: "\e9ea",
  tag: "\e9eb",
  target: "\e9ec",
  terminal: "\e9ed",
  thermometer: "\e9ee",
  thumbs-down: "\e9ef",
  thumbs-up: "\e9f0",
  toggle-left: "\e9f1",
  toggle-right: "\e9f2",
  tool: "\e9f3",
  trash-2: "\e9f4",
  trash: "\e9f5",
  trello: "\e9f6",
  trending-down: "\e9f7",
  trending-up: "\e9f8",
  triangle: "\e9f9",
  truck: "\e9fa",
  tv: "\e9fb",
  twitch: "\e9fc",
  twitter: "\e9fd",
  type: "\e9fe",
  umbrella: "\e9ff",
  underline: "\ea00",
  unlock: "\ea01",
  upload-cloud: "\ea02",
  upload: "\ea03",
  user-check: "\ea04",
  user-minus: "\ea05",
  user-plus: "\ea06",
  user-x: "\ea07",
  user: "\ea08",
  users: "\ea09",
  video-off: "\ea0a",
  video: "\ea0b",
  voicemail: "\ea0c",
  volume-1: "\ea0d",
  volume-2: "\ea0e",
  volume-x: "\ea0f",
  volume: "\ea10",
  watch: "\ea11",
  wifi-off: "\ea12",
  wifi: "\ea13",
  wind: "\ea14",
  x-circle: "\ea15",
  x-octagon: "\ea16",
  x-square: "\ea17",
  x: "\ea18",
  youtube: "\ea19",
  zap-off: "\ea1a",
  zap: "\ea1b",
  zoom-in: "\ea1c",
  zoom-out: "\ea1d"
)
